{% import "_includes/forms" as forms %}


{{ forms.textField({
	label: "Navigation Label"|t('plugin-uxd'),
	instructions: "The label to give the plugin in the navigation sidebar."|t('plugin-uxd'),
	name: 'navLabel',
	value: settings.navLabel,
	first: true,
}) }}

{{ forms.textField({
	label: "Navigation Icon Mask Path"|t('plugin-uxd'),
	instructions: "The full path to an icon mask to show in the navigation sidebar."|t('plugin-uxd'),
	name: 'navIconMaskPath',
	value: settings.navIconMaskPath,
}) }}

{{ forms.textField({
	label: "Template Folder Path"|t('plugin-uxd'),
	instructions: "The full path to your template folder."|t('plugin-uxd'),
	name: 'templateFolderPath',
	value: settings.templateFolderPath,
}) }}

<div class="light">
	Any references to your templates (included or extended) should be written as `plugin-uxd/temp/{template-folder-path}`.
	<pre><code>{{ '{% include "plugin-uxd/temp/{template-folder-path}" %}' }}</code></pre>
</div>