{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set title = "Stylesheet"|t('plugin-uxd') %}

{% set crumbs = [
    { label: 'Plugin UXD'|t('plugin-uxd'), url: url('plugin-uxd') }
] %}

{% set tabs = {
    'typography': {'label': 'Typography', 'url': '#typography'},
    'fields': {'label': 'Fields', 'url': '#fields'},
    'tables': {'label': 'Tables', 'url': '#tables'},
} %}


{% block actionButton %}
    <a href="#" class="btn submit add icon">{{ "New Item"|t('plugin-uxd') }}</a>
{% endblock %}


{% block content %}

    <div id="typography">

        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>

        <hr/>

        <h1>Body Copy</h1>

        <p>Regular text can be <strong>bold</strong>, <em>italic</em>, <u>underlined</u>, <code>code</code>, <span class="light">light</span> and <a href="#" class="go">linked</a></p>
        <p>
            More info modals are useful to show more text when required
            <span class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </p>

        <hr/>

        <h1>Buttons</h1>

        <p>
            <a href="#" class="btn">Button</a>
            <a href="#" class="btn submit">Submit</a>
            <a href="#" class="btn submit add icon">New</a>
        </p>
        <p>
            <a href="#" class="btn small">Button</a>
            <a href="#" class="btn submit small">Submit</a>
            <a href="#" class="btn submit add icon small">New</a>
        </p>

    </div>

    <div id="fields" class="hidden">

        <h1>Text Fields</h1>

        {{ forms.textField({
            label: "Plaintext Field"|t('plugin-uxd') ,
            instructions: "See `templates/_includes/forms/text.html` for all available options."|t('plugin-uxd'),
            placeholder: "Placeholder text"|t('plugin-uxd'),
            name: '',
            value: '',
            errors: ["This field is required."|t('plugin-uxd')],
            required: true,
            autofocus: true,
        }) }}

        {{ forms.textField({
            label: "Password Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/text.html` for all available options."|t('plugin-uxd'),
            warning: "Beware of shoulder surfing."|t('plugin-uxd'),
            type: 'password',
            name: '',
            value: '1234567890',
            showCharsLeft: true,
        }) }}

        {{ forms.textareaField({
            label: "Textarea Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/textarea.html` for all available options."|t('plugin-uxd'),
            name: '',
            value: '',
            rows: 3,
        }) }}

        <hr/>

        <h1>Selection Fields</h1>

        {{ forms.lightswitchField({
            label: "Lightswitch Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/lightswitch.html` for all available options."|t('plugin-uxd'),
            name: '',
            on: true,
        }) }}

        {{ forms.checkboxGroupField({
            label: "Checkbox Group Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/checkboxGroup.html` for all available options."|t('plugin-uxd'),
            name: '',
            values: [1, 3],
            options: {
                1: 'Option 1',
                2: 'Option 2',
                3: 'Option 3',
            },
        }) }}

        {{ forms.radioGroupField({
            label: "Radio Group Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/radioGroup.html` for all available options."|t('plugin-uxd'),
            name: '',
            value: 2,
            options: {
                1: 'Option 1',
                2: 'Option 2',
                3: 'Option 3',
            },
        }) }}

        {{ forms.selectField({
            label: "Select Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/select.html` for all available options."|t('plugin-uxd'),
            name: '',
            value: 2,
            options: {
                1: 'Option 1',
                2: 'Option 2',
                3: 'Option 3',
            },
        }) }}

        {{ forms.multiselectField({
            label: "Multi Select Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/multiselect.html` for all available options."|t('plugin-uxd'),
            name: '',
            values: [1, 3],
            options: {
                1: 'Option 1',
                2: 'Option 2',
                3: 'Option 3',
            },
        }) }}

        {{ forms.colorField({
            label: "Color Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/color.html` for all available options."|t('plugin-uxd'),
            name: '',
            value: '#da5a47',
        }) }}

        {{ forms.fileField({
            label: "File Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/file.html` for all available options."|t('plugin-uxd'),
            name: '',
            value: '',
        }) }}

        <hr/>

        <h1>Date Fields</h1>

        {{ forms.dateField({
            label: "Date Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/date.html` for all available options."|t('plugin-uxd'),
            name: '',
            value: now|date,
        }) }}

        {{ forms.timeField({
            label: "Time Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/time.html` for all available options."|t('plugin-uxd'),
            name: '',
            value: now|date('h:i'),
        }) }}

        {{ forms.dateTimeField({
            label: "Datetime Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/date.html` and `templates/_includes/forms/time.html` for all available options."|t('plugin-uxd'),
            name: '',
            value: now|date('h:i'),
        }) }}

        <hr/>

        <h1>Element Select Fields</h1>

        {{ forms.elementSelectField({
            label: "Entry Select Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/elementSelect.html` for all available options."|t('plugin-uxd'),
            id: 'entries',
            name: '',
            elements: [craft.entries.one()],
            elementType: 'craft\\elements\\Entry',
            limit: 5,
            selectionLabel: "Add an entry"|t('plugin-uxd'),
        }) }}

        {{ forms.elementSelectField({
            label: "Asset Select Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/elementSelect.html` for all available options."|t('plugin-uxd'),
            id: 'assets',
            name: '',
            elements: [craft.assets.one()],
            elementType: 'craft\\elements\\Assets',
            limit: 5,
            selectionLabel: "Add an asset"|t('plugin-uxd'),
        }) }}

        <hr/>

        <h1>Table Fields</h1>

        {{ forms.editableTableField({
            label: "Editable Table Field"|t('plugin-uxd'),
            instructions: "See `templates/_includes/forms/editableTable.html` for all available options."|t('plugin-uxd'),
            id: 'table',
            name: '',
            cols: [
                {
                    type: 'text',
                    heading: 'Name',
                    info: "The contact's full name."|t('plugin-uxd'),
                },
                {
                    type: 'text',
                    heading: 'Email',
                },
            ],
            rows: [
                [
                    {
                        value: 'Jack',
                    },
                    {
                        value: 'jack@email',
                    },
                ],
                [
                    {
                        value: 'Jill',
                    },
                    {
                        value: 'jill@email.com',
                    },
                ],
            ],
            addRowLabel: "Add a contact"|t('plugin-uxd'),
            minRows: 1,
            maxRows: 5,
        }) }}

        <hr/>

        <h1>Custom Fields</h1>

        {% set input %}
            <p>Any markup can be entered here.</p>
        {% endset %}
        {{ forms.field({
            label: "Custom Field"|t('plugin-uxd') ,
            instructions: "See `templates/_includes/forms/field.html` for all available options."|t('plugin-uxd'),
        }, input) }}

    </div>

    <div id="tables" class="hidden">

        <h1>Horizontal Table</h1>

        <table class="data fullwidth collapsible">
            <tbody>
                <tr>
                    <th class="light">Recipients</th>
                    <td>305</td>
                </tr>
                <tr>
                    <th class="light">Opened</th>
                    <td>128</td>
                </tr>
                <tr>
                    <th class="light">Clicked</th>
                    <td>80</td>
                </tr>
                <tr>
                    <th class="light">
                        Click Through Rate
                        <span class="info">Click Through Rate is calculated by dividing the number of clicks by the number of opens.</span>
                    </th>
                    <td>62%</td>
                </tr>
            </tbody>
        </table>

        <br/><br/>

        <h1>Vertical Table</h1>

        <table class="data fullwidth collapsible">
            <thead>
                <tr>
                    <th>Newsletter</th>
                    <th>Recipients</th>
                    <th>Opens</th>
                    <th>Clicks</th>
                    <th>
                        CTR
                        <span class="info">Click Through Rate is calculated by dividing the number of clicks by the number of opens.</span>
                    </th>
                    <th data-icon="world"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <a href="#">Spring is Here</a>
                    </th>
                    <td>1618</td>
                    <td>1000</td>
                    <td>618</td>
                    <td>61.8%</td>
                    <td>
                        <a href="#" data-icon="world"></a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <a href="#">Summer is Here</a>
                    </th>
                    <td>1618</td>
                    <td>1000</td>
                    <td>618</td>
                    <td>61.8%</td>
                    <td>
                        <a href="#" data-icon="world"></a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <a href="#">Autumn is Here</a>
                    </th>
                    <td>1618</td>
                    <td>1000</td>
                    <td>618</td>
                    <td>61.8%</td>
                    <td>
                        <a href="#" data-icon="world"></a>
                    </td>
                </tr>
                <tr>
                    <th>
                        <a href="#">Winter is Here</a>
                    </th>
                    <td>1618</td>
                    <td>1000</td>
                    <td>618</td>
                    <td>61.8%</td>
                    <td>
                        <a href="#" data-icon="world"></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

{% endblock %}
