{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Plaintext Field"|t('plugin-uxd') ,
    instructions: "See `templates/_includes/forms/text.html` for all available options."|t('plugin-uxd'),
    placeholder: "Placeholder text"|t('plugin-uxd'),
    warning: "This field is required."|t('plugin-uxd'),
    name: '',
    value: '',
    required: true,
    autofocus: true,
    first: true,
}) }}

{{ forms.textField({
	label: "Password Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/text.html` for all available options."|t('plugin-uxd'),
	type: 'password',
	name: '',
	value: '1234567890',
	showCharsLeft: true,
}) }}

{{ forms.textareaField({
	label: "Textarea Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/textarea.html` for all available options."|t('plugin-uxd'),
	name: '',
	value: '',
    rows: 3,
}) }}

<hr/>

{{ forms.lightswitchField({
	label: "Lightswitch Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/lightswitch.html` for all available options."|t('plugin-uxd'),
	name: '',
	on: true,
}) }}

{{ forms.checkboxGroupField({
	label: "Checkbox Group Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/checkboxGroup.html` for all available options."|t('plugin-uxd'),
	name: '',
	values: [1, 3],
    options: {
        1: 'Option 1',
        2: 'Option 2',
        3: 'Option 3',
    },
}) }}

{{ forms.radioGroupField({
	label: "Radio Group Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/radioGroup.html` for all available options."|t('plugin-uxd'),
	name: '',
	value: 2,
    options: {
        1: 'Option 1',
        2: 'Option 2',
        3: 'Option 3',
    },
}) }}

{{ forms.selectField({
	label: "Select Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/select.html` for all available options."|t('plugin-uxd'),
	name: '',
	value: 2,
    options: {
        1: 'Option 1',
        2: 'Option 2',
        3: 'Option 3',
    },
}) }}

{{ forms.multiselectField({
	label: "Multi Select Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/multiselect.html` for all available options."|t('plugin-uxd'),
	name: '',
	values: [1, 3],
    options: {
        1: 'Option 1',
        2: 'Option 2',
        3: 'Option 3',
    },
}) }}

<hr/>

{{ forms.dateField({
	label: "Date Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/date.html` for all available options."|t('plugin-uxd'),
	name: '',
	value: now|date,
}) }}

{{ forms.timeField({
	label: "Time Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/time.html` for all available options."|t('plugin-uxd'),
	name: '',
	value: now|date('h:i'),
}) }}

{{ forms.dateTimeField({
	label: "Datetime Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/date.html` and `templates/_includes/forms/time.html` for all available options."|t('plugin-uxd'),
	name: '',
	value: now|date('h:i'),
}) }}

<hr/>

{{ forms.colorField({
	label: "Color Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/color.html` for all available options."|t('plugin-uxd'),
	name: '',
	value: '#da5a47',
}) }}

<hr/>

{{ forms.elementSelectField({
	label: "Element Select Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/elementSelect.html` for all available options."|t('plugin-uxd'),
    id: 'entries',
	name: '',
    elements: [craft.entries.one()],
	elementType: 'craft\\elements\\Entry',
    limit: 5,
    selectionLabel: "Add an entry"|t('plugin-uxd'),
}) }}

<hr/>

{{ forms.editableTableField({
	label: "Editable Table Field"|t('plugin-uxd'),
    instructions: "See `templates/_includes/forms/editableTable.html` for all available options."|t('plugin-uxd'),
	id: 'table',
    name: '',
    cols: [
        {
            type: 'text',
            heading: 'Name',
            info: "The contact's full name."|t('plugin-uxd'),
        },
        {
            type: 'text',
            heading: 'Email',
        },
    ],
    rows: [
        [
            {
                value: 'Jack',
            },
            {
                value: 'jack@email',
            },
        ],
        [
            {
                value: 'Jill',
            },
            {
                value: 'jill@email.com',
            },
        ],
    ],
    addRowLabel: "Add a contact"|t('plugin-uxd'),
    minRows: 1,
    maxRows: 5,
}) }}

<hr/>
